<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-toolbar>
      <ion-title class="ion-text-center" size="medium">Envios Express</ion-title>
      <ion-title class="ion-text-center" size="small">Envios a todo el pais</ion-title>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-select  aria-label="Favorite Fruit" value="" label="Ciudad Origen" (ionChange)="limpiar()" (ionChange)="handleChange($event)">
        <ion-select-option *ngFor="let item of resultado" value="{{item.ciudad_id}}">{{item.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select  aria-label="Favorite Fruit" value="" label="Ciudad Destino" (ionChange)="handleChange2($event)">
        <ion-select-option *ngFor="let item of resultado" value="{{item.ciudad_id}}">{{item.nombre}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button color="primary" (click)="buscar()" expand="block" shape="round">Buscar</ion-button>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>Nombre</ion-col>
      <ion-col>Tipo de Vehiculo</ion-col>
      <ion-col>Nro de Chapa</ion-col>
      <ion-col></ion-col>
  </ion-row>
  <div *ngIf="resultadoDel.length > 0">
    <ion-row *ngFor="let item of resultadoDel" detail (click)="mostrarDetalle(item)">
        <ion-col>{{item.nombre}}</ion-col>
        <ion-col>{{item.tipo_vehiculo}}</ion-col>
        <ion-col>{{item.nro_chapa}}</ion-col>
        <ion-col><ion-button color="primary" shape="round">Ir</ion-button></ion-col>
    </ion-row>
  </div>
  </ion-grid>
  
</ion-content>
